In [21]:
import pandas as pd
import numpy as np
day3 = pd.read_csv('day3.csv', dtype={'input': np.str})

In [22]:
day3

            input
0    010100110111
1    101001010000
2    101011110010
3    100100011101
4    101000011000
..            ...
995  111011001011
996  001100110011
997  010010011101
998  100011110000
999  110011110111

[1000 rows x 1 columns]

In [23]:
binary = day3['input'].str.split(pat='', expand=True)
binary = binary.drop([0, 13], axis=1)
binary

    1  2  3  4  5  6  7  8  9  10 11 12
0    0  1  0  1  0  0  1  1  0  1  1  1
1    1  0  1  0  0  1  0  1  0  0  0  0
2    1  0  1  0  1  1  1  1  0  0  1  0
3    1  0  0  1  0  0  0  1  1  1  0  1
4    1  0  1  0  0  0  0  1  1  0  0  0
..  .. .. .. .. .. .. .. .. .. .. .. ..
995  1  1  1  0  1  1  0  0  1  0  1  1
996  0  0  1  1  0  0  1  1  0  0  1  1
997  0  1  0  0  1  0  0  1  1  1  0  1
998  1  0  0  0  1  1  1  1  0  0  0  0
999  1  1  0  0  1  1  1  1  0  1  1  1

[1000 rows x 12 columns]

In [24]:
binary = binary.astype(int)
binary

     1   2   3   4   5   6   7   8   9   10  11  12
0     0   1   0   1   0   0   1   1   0   1   1   1
1     1   0   1   0   0   1   0   1   0   0   0   0
2     1   0   1   0   1   1   1   1   0   0   1   0
3     1   0   0   1   0   0   0   1   1   1   0   1
4     1   0   1   0   0   0   0   1   1   0   0   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
995   1   1   1   0   1   1   0   0   1   0   1   1
996   0   0   1   1   0   0   1   1   0   0   1   1
997   0   1   0   0   1   0   0   1   1   1   0   1
998   1   0   0   0   1   1   1   1   0   0   0   0
999   1   1   0   0   1   1   1   1   0   1   1   1

[1000 rows x 12 columns]

In [25]:
res = binary.sum(axis=0)
res

1     528
2     483
3     495
4     521
5     505
6     494
7     510
8     502
9     488
10    516
11    494
12    489
dtype: int64

In [26]:
res > 500

1      True
2     False
3     False
4      True
5      True
6     False
7      True
8      True
9     False
10     True
11    False
12    False
dtype: bool

In [41]:
gamma = ""
epsilon = ""

for i in (res > 500):
    gamma += str(int(i))
    # return inverse of boolean with not
    # https://stackoverflow.com/questions/7030831/how-do-i-get-the-opposite-negation-of-a-boolean-in-python
    epsilon += str(int(not i))

print(f'gamma binary - {gamma}')
print(f'gamma int - {int(gamma, 2)}')
print(f'epsilon binary - {epsilon}')
print(f'epsilon int - {int(epsilon, 2)}')

gamma binary - 100110110100
gamma int - 2484
epsilon binary - 011001001011
epsilon int - 1611

In [43]:
ans1 = 2484 * 1611
ans1

4001724

In [9]:
binary

     1   2   3   4   5   6   7   8   9   10  11  12
0     0   1   0   1   0   0   1   1   0   1   1   1
1     1   0   1   0   0   1   0   1   0   0   0   0
2     1   0   1   0   1   1   1   1   0   0   1   0
3     1   0   0   1   0   0   0   1   1   1   0   1
4     1   0   1   0   0   0   0   1   1   0   0   0
..   ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
995   1   1   1   0   1   1   0   0   1   0   1   1
996   0   0   1   1   0   0   1   1   0   0   1   1
997   0   1   0   0   1   0   0   1   1   1   0   1
998   1   0   0   0   1   1   1   1   0   0   0   0
999   1   1   0   0   1   1   1   1   0   1   1   1

[1000 rows x 12 columns]

In [46]:
tmp_bin = binary
winner = 0
res = ""

for col in tmp_bin:
    a= tmp_bin[col].sum(axis=0)
    if tmp_bin.shape[0] == 1:
        res = res + str(tmp_bin[col].iloc[0])
        continue
    if (a >= (tmp_bin.shape[0] / 2)):
        res = res + '1'
        winner = 1
    else:
        res = res + '0'
        winner = 0
    tmp_bin = tmp_bin[tmp_bin[col] == winner]
        
oxy = res

In [48]:
tmp_bin = binary
loser = 0
res = ""

for col in tmp_bin:
    a= tmp_bin[col].sum(axis=0)
    if tmp_bin.shape[0] == 1:
        res = res + str(tmp_bin[col].iloc[0])
        continue
    if (a < (tmp_bin.shape[0] / 2)):
        res = res + '1'
        loser = 1
    else:
        res = res + '0'
        loser = 0
    tmp_bin = tmp_bin[tmp_bin[col] == loser]
        
co2 = res

In [49]:
print(f'co2 bin-{oxy} dec-{int(oxy, 2)}')
print(f'co2 bin-{co2} dec-{int(co2, 2)}')

co2 bin-100111110001 dec-2545
co2 bin-000011100111 dec-231

In [50]:
ans2 = 2545 * 231
ans2

587895

In [16]:
binary.to_csv('binary.csv')